{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-2">
    <!--test bag details card-->
    {% if bag_items %}
        <div class="container mb-3">
            <div class="row row-cols-2">
                <div class="col text-center text-capitalize">Order Total: €{{ total | floatformat:2 }}</div>
                <div class="col text-center text-capitalize">
                    bag Contents : {{ product_count }}
                </div>
                <div class="col text-center">
                    <a href="{% url 'products' %}" class="btn">
                        <span class="internal-link">Keep Shopping</span>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="{% url 'checkout' %}" class="btn">
                        <span class="internal-link">Secure Checkout</span>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="div"> Your bag is empty.
            <a href="{% url 'products' %}" class="btn">
                <span class="internal-link">Keep Shopping</span>
            </a>
        </div>
    {% endif %}
    



    <!--New cards-->
    {% if bag_items %}
    <div class="row">
        {% for item in bag_items %}
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card h-100 border-0">
                        {% if item.product.image %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ item.product.image.url }}"
                                alt="{{ item.product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ item.product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body h-100 pb-0">
                            <p class="text-uppercase per-marker-white">{{ item.product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ item.product.price }}</p>
                                    <p class="my-0"><strong>{{ item.product.category.friendly_name }}</strong></p>
                                    <p class="my-0"><strong>At Home:</strong>{% if item.product.home %} <i class="fas fa-check mr-1 text-green"></i> {% else %} <i class="fas fa-times mr-1 text-red"></i> {% endif %}</p>
                                    <p class="my-0"><strong>Outdoors:</strong>{% if item.product.outdoors %} <i class="fas fa-check mr-1 text-green"></i> {% else %} <i class="fas fa-times mr-1 text-red"></i> {% endif %}</p>
                                    <p class="my-0"><strong>By Day:</strong>{% if item.product.day %} <i class="fas fa-check mr-1 text-green"></i> {% else %} <i class="fas fa-times mr-1 text-red"></i> {% endif %}</p>
                                    <p class="my-0"><strong>At Night:</strong>{% if item.product.night %} <i class="fas fa-check mr-1 text-green"></i> {% else %} <i class="fas fa-times mr-1 text-red"></i> {% endif %}</p>
                                    {% if request.user.is_anonymous %}
                                        <p class="my-0" data-toggle="tooltip" data-placement="bottom" title="login or register to include for free"><strong>Wellness Included:</strong> <i class="fas fa-times mr-1 text-red"></i></p>
                                    {% else %} 
                                        <p class="my-0"><strong>Wellness Included:</strong><i class="fas fa-check mr-1 text-green"></i></p>
                                    {% endif %}
                                    <a class="remove-item btn p-0 text-danger float-left" id="remove_{{ item.item_id }}" data-size=""><medium>Remove</medium></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
    </div> 
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
        // tooltip
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}