{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid bg-grey">
    <div class="container img-fluid" id="heroImage"></div>
    <div class="container per-marker-white bg-blue" id="index-hero">
        <h1 class="text-center"><span class="text-green">W</span>elcome to <span class="text-green">T</span>otal <span class="text-green">H</span>ealth at <span class="text-green">H</span>ome</h1>
    </div>
    <br>
    <!--Why Choose us (List)-->
    <div class="container">
        <p>
            We specilaise in goal-orientated, lasting health. Our programs are designed around flexibility and real-life demands on your time.
            If you want to lose weight but can't make the gym every morning or evening that's fine, our workouts don't require it. In fact, we've tailored programs 
            for maximum benefits at home during the day, or by night where noise might be an issue.
        </p>
        <p>
            If you've tried dieting before and it left you miserable, not to worry, our approach is to total health. You don't have to starve to lose weight,
            or survive exclusively on lettuce and twigs (unless that's your thing). All our programs pair your specific goal with your current diet. 
        </p>
        <p>
            Getting started is easy! Select your goal (Weight-loss, Core Strenght or Cardio) from our <a class="internal-link" href="{% url 'products' %}">Products.</a>
            We'll pair you with an instructor to help you along. 
        </p>
        <p>
            {% if request.user.is_anonymous %}
            Verified users get access to a Wellness element for free.<a class="internal-link" href="{% url 'account_signup' %}"> Sign Up</a> / 
            <a class="internal-link" href="{% url 'account_login' %}"> Login.</a>
            {% endif %}
        </p>
    </div>
    <br>
        <div class="container mb-5">
            <div class="row mb-2">
                <div class="col-sm-6 col-md-6 col-lg-4 per-marker-green"><h2>Our Products</h2><span><a class="small plain-anchor" href="{% url 'products' %}">See more</a></span></div>
            </div>
            <div class="row">
                {% for product in products %}
                    {% if forloop.counter <= 3 %}
                        <div class="col-sm-6 col-md-6 col-lg-4 mb-1">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body h-100">
                                    <p class="mb-0 per-marker-white">{{ product.name }}</p>
                                    <div class="row">
                                        <p class="text-white pl-3 mb-0"><i class="fas fa-euro-sign mr-1 text-green"></i>{{ product.price }}</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
            </div> 
        </div>
    <!--Testimonials (List)-->
    {% if user.is_authenticated %}
    <div class="container">
       <p>Now that you've signed up, we'd appreciate any feedback you have for us after you've made your first purchase. You can submit a testimonial via the feeback section <a href="{% url 'profile' %}" class="internal-link">here</a>.</p> 
    </div>
    {% endif %}
    <div class="container bg-blue pb-4 mb-2">
        <h2 class="shadows-white border-bottom-green">What are people saying about us ?</h2>
        {% for testimonial in testimonials %}
            {% if testimonial.approved %}
                <div class="list-group">
                    <div class="list-group-item bg-grey">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1 text-small">Submitted by: <span>"{{ testimonial.username }}"</span></p>
                        </div>
                        <p class="mb-1">{{ testimonial.description }} <span class="text-muted">( this used to be shortdate)</span></p>
                        {% if user.is_superuser %}
                        <p>
                            <span id="edit-button"><a class="btn bg-blue text-white" href="{% url 'edit_testimonial' testimonial.id %}">Edit / Delete</a></span>
                        </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    
{% endblock %}