{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="conatiner-fluid bg-grey">
    <div class="container mt-3">
        {% if existing_reviews > 0 %}
            <p>You have already reveiwed this product <a class="plain-anchor" href="{% url 'product_detail' product.id %}">here</a></p>
        {% else %}
            <h3>Your Review of : <span class="border-bottom-green">{{ product.name }}</span> </h3>
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <form method="POST" action="{% url 'add_review' product.id %}" class="mb-3" id="generic-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-left">
                            <a class="btn text-white bg-blue mr-2" href="{% url 'profile' %}">Cancel</a>
                            <button class="btn internal-link" type="submit">Submit</button>
                        </div>
                    </form>
                </div>            
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}