{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="per-marker-green"> {{ user }}'s Profile'</h2>
                <hr>
            </div>
        </div>
        <!--new layout-->
        <div id="accordion">
            <!--Card 1-->
            <div class="card">
                <div class="card-header bg-white" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         Default Delivery Info. <span class="per-marker-green">!</span>
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body bg-white">
                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form_UserProfileForm|crispy }}
                            <button class="btn internal-link">Update Information</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="card">
                <div class="card-header bg-white" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Previous Orders : <span class="per-marker-green">{% for order in orders %} {% if forloop.last %} {{ forloop.counter}} {% endif %} {% endfor %}</span>
                    </button>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body bg-white">
                        <div class="col-12 col-lg-6">
                            <div class="order-history table-responsive">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th>Date</th>
                                            <th>Order Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders|dictsortreversed:"date" %}
                                        <tr>
                                            <td>
                                                <a class="plain-anchor" href="{% url 'order_history' order.order_number %}"
                                                title="{{ order.order_number }}">
                                                    {{ order.order_number|truncatechars:6 }}
                                                </a>
                                            </td>
                                            <td>{{ order.shortdate }}</td>
                                            <td>€{{ order.grand_total|floatformat:"0" }}<small><span class="per-marker-green">*</span></small></td>
                                        </tr>  
                                        {% endfor %}    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card 3 only shows if 'Orders' exists-->
            {% if orders %}
            <div class="card">
                <div class="card-header bg-white" id="headingThree">
                    <h5 class="mb-0">
                    <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        My Testimonials
                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body bg-white">
                        <div class="card-body bg-white">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'add_testimonial' %}" class="internal-link">Add Testi</a>
                                </div>
                                <div class="col text-left"><p> spare</p></div>   
                            </div>
                            <div class="row">
                                <div class="col"><p class= "mb-0 font-weight-bold" >You Testimonial </p></div>
                                {% for test in testimonials %}
                                <div class="col text-left"><p>user : {{ test.username }}</p></div>
                                <div class="col text-left"><p>words : {{ test.description }}</p></div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col"><p class= "mb-0 font-weight-bold" >Email :</p></div>
                                <div class="col text-left"><p ></p></div>   
                            </div>
                            <div class="row">
                                <div class="col"><p class= "mb-0 font-weight-bold" >Address :</p></div>
                                <div class="col text-left"><p ></p>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}