{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid bg-grey">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="per-marker-green"> {{ user }}'s Profile</h2>
                <hr>
            </div>
        </div>
        <div id="accordion">
            <!--Card 1 Customer Information -->
            <div class="card">
                <div class="card-header bg-white" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         My Info
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body bg-white">
                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn internal-link">Update Information</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--Card 2 Previous Orders-->
            <div class="card">
                <div class="card-header bg-white" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Previous Orders  <span class="per-marker-green">{% for order in orders %} {% if forloop.last %} {{ forloop.counter}} {% endif %} {% endfor %}</span>
                    </button>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body bg-white">
                        {% if orders %}
                        <div class="col-12 col-lg-6">
                            <div class="order-history table-responsive">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th>Date</th>
                                            <th>Order Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders|dictsortreversed:"date" %}
                                        <tr>
                                            <td>
                                                <a class="plain-anchor" href="{% url 'order_history' order.order_number %}"
                                                title="{{ order.order_number }}">
                                                    {{ order.order_number|truncatechars:6 }}
                                                </a>
                                            </td>
                                            <td>{{ order.shortdate }}</td>
                                            <td>€{{ order.grand_total|floatformat:"0" }}<small><span class="per-marker-green">*</span></small></td>
                                        </tr>  
                                        {% endfor %}    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <span class="border-bottom-green mb-5">No previous orders to display.<a class="internal-link" href="{% url 'products' %}"> Lets Fix that !</a></span>
                        {% endif %}
                    </div>
                </div>  
            </div>
            <!--Card 3 feedback Section-->
            <div class="card">
                <div class="card-header bg-white" id="headingThree">
                    <h5 class="mb-0">
                    <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        My Feedback
                    </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body bg-white">
                        {% if orders %}
                            <!--List current user's testimonial and approval status-->
                            <span class="border-bottom-green mb-5">Your Testimonial :</span>
                                {% if user_testimonials %}
                                    {% for testimonial in user_testimonials %}
                                    <div class="list-group my-3">
                                        <div class="list-group-item">
                                            <p class="mb-1">
                                                {{ testimonial.description|capfirst }} {% if testimonal.approved %} (See it live 
                                                <a class="internal-link" href="{% url 'home' %}">here</a> {% else %} 
                                                <small class="text-orange"> *awaiting approval</small>{% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="list-group my-3">
                                        <div class="list-group-item">
                                            <div class="d-flex w-100 justify-content-between">
                                            </div>
                                            <p class="mb-1">
                                                You can submit a testimonial 
                                                <a href="{% url 'add_testimonial' %}" class="internal-link">here.</a>
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                                <span class="border-bottom-green mb-5">Your Reviews :</span>   
                                {% if user_reviews %}
                                    {% for review in user_reviews %}
                                        <div class="list-group mt-3">
                                            <div class="list-group-item">
                                                <p class="mb-1">
                                                    {{ review.description|capfirst }} {% if review.approved %} (See it live 
                                                    <a class="internal-link" href="{% url 'product_detail' review.pname %}">here</a>){% else %} 
                                                    <small class="text-orange"> *awaiting approval</small>{% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                <div class="list-group mt-3">
                                    <div class="list-group-item">
                                        <div class="d-flex w-100 justify-content-between">
                                        </div>
                                        <p class="mb-1">Submit a review through 'Order details' via your profile's previous orders.</p>
                                    </div>
                                </div>
                                {% endif %}
                        {% else %}
                            <span class="border-bottom-green mb-5">Feedback available after first purchase. <a class="internal-link" href="{% url 'products' %}"> Lets Fix that !</a></span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--Card 4 Admin Tools-->
            {% if user.is_superuser %}
                <div class="card">
                    <div class="card-header bg-white" id="headingFour">
                        <h5 class="mb-0">
                        <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Admin Tools
                        </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body bg-white">
                            <p><a class="btn bg-blue text-white" href="{% url 'add_product' %}">Add a new product</a></p>
                            <!--List all testimonials pending approval-->
                            <div> <span class="border-bottom-green mb-5">New Testimonial's pending approval :</span></div>
                                {% for testimonial in testimonials %}
                                    {% if not testimonial.approved %} 
                                        <div class="list-group my-3">
                                            <div class="list-group-item">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <small class="mb-2">By {{ testimonial.username }}</small>
                                                </div>
                                                <p class="mb-1">
                                                    {{ testimonial.description|capfirst }}
                                                    <span id="edit-button"><a class="ml-3 btn btn-sm bg-blue text-white" href="{% url 'edit_testimonial' testimonial.id %}">Edit / Delete</a></span>
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            <div> <span class="border-bottom-green mb-5">New Reviews pending approval :</span></div>
                                {% for review in reviews %}
                                    {% if not review.approved %}
                                        <div class="list-group mt-3">
                                            <div class="list-group-item">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <small class="mb-2">For {{ review.name }}. By {{ review.username }}</small>
                                                </div>
                                                <p class="mb-1">
                                                    {{ review.description|capfirst }}
                                                    <span id="edit-button"><a class="ml-3 btn btn-sm bg-blue text-white" href="{% url 'edit_review' review.id %}">Edit / Delete</a></span>
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

{% endblock %}