{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}
    <!--Collaspables-->
  <div class="container-fluid bg-grey">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if from_profile %}
                  <hr>
                  <h2 class="per-marker-green">Previous Order</h2>
                  <hr>
                  <p> From {{ order.date }}</p>
                {% else %}
                  <hr>
                  <h2 class="per-marker-green">Order Confirmed <span class="per-marker-blue">!</span> Thank You.</h2>
                  <hr>
                  <p> A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                  <p> We'll contact you on <strong>{{ order.phone_number }}</strong>.</p>
                {% endif %}
            </div>
        </div>
        <div id="accordion">
            <!--Card 1-->
            <div class="card">
              <div class="card-header bg-white" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Your Order Info <span class="per-marker-green">!</span>
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse {% if from_profile %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body bg-white">
                    <div class="row">
                        <div class="col"><p class= "mb-0 font-weight-bold" >Order Date :</p></div>
                        <div class="col text-left"><p >{{ order.shortdate }}</p></div>   
                    </div>
                    <div class="row">
                        <div class="col"><p class= "mb-0 font-weight-bold" >Order No. :</p></div>
                        <div class="col text-left"><p>{{ order.order_number }}</p></div>   
                    </div>
                    <div class="row">
                        <div class="col"><p class= "mb-0 font-weight-bold" >Order Total :</p></div>
                        <div class="col text-left"><p >€{{ order.grand_total }} </p>
                        </div>   
                    </div>
                </div>
              </div>
            </div>
            <!--Card 2-->
            <div class="card">
              <div class="card-header bg-white" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Order Details
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body bg-white">
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col"><p class= "mb-0 font-weight-bold" >Product : {{ forloop.counter }}</p></div>
                        <div class="col text-left">
                          <p> {{ item.product.name }}
                            <span><a class="internal-link" href="{% url 'product_detail' item.product.id %}">(More Info)</a></span>
                            <span><a class="internal-link" href="{% url 'add_review' item.product.id %}">(Add Review)</a></span>
                          </p>
                        </div>   
                    </div>
                    <div class="row">
                      <div class="col"><p class= "mb-0 font-weight-bold" >Category :</p></div>
                      <div class="col text-left">
                        <p>{{ item.product.category.friendly_name }}</p>
                      </div>   
                  </div>
                    <hr>
                    {% endfor %}
                    <div class="row">
                        <div class="col"><p class= "mb-0 font-weight-bold" >Diet info :</p></div>
                        <div class="col text-left"><p >{{ order.diet }}</p></div>   
                    </div>
                </div>
              </div>
            </div>
            <!--Card 3-->
            <div class="card">
              <div class="card-header bg-white" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn per-marker-white border-bottom-green bg-blue collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Your Contact Info
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body bg-white">
                    <div class="card-body bg-white">
                        <div class="row">
                            <div class="col"><p class= "mb-0 font-weight-bold" >Name :</p></div>
                            <div class="col text-left"><p >{{ order.full_name }}</p></div>   
                        </div>
                        <div class="row">
                            <div class="col"><p class= "mb-0 font-weight-bold" >Phone :</p></div>
                            <div class="col text-left"><p >{{ order.phone_number }}</p></div>   
                        </div>
                        <div class="row">
                            <div class="col"><p class= "mb-0 font-weight-bold" >Email :</p></div>
                            <div class="col text-left"><p >{{ order.email }}</p></div>   
                        </div>
                        <div class="row">
                            <div class="col"><p class= "mb-0 font-weight-bold" >Address :</p></div>
                            <div class="col text-left"><p >{{ order.street_address1 }},
                                {% if order.street_address2 %}
                                    {{ order.street_address2 }}
                                {% endif %}
                                , {{ order.town_or_city }}, {{ order.country }}</p>
                            </div>   
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="container">
      <div class="row">
			  <div class="col-12 col-lg-7 text-center">
          {% if from_profile %}
              <a href="{% url 'profile' %}" class="btn">
                  <span class="internal-link">Back to Profile</span>
              </a>
          {% else %}
              <a href="{% url 'products' %}" class="btn">
                  <span class="internal-link">Back to Products</span>
              </a>
          {% endif %}
			  </div>
		  </div>
    </div>
  </div>
{% endblock %}