#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}


/* generic form for add and edit reviews and testimonials*/
#generic-form .form-group label {
    
    color: rgb(106, 164, 187);
    border-bottom: 3px solid rgb(57, 250, 18);
}

#generic-form .form-group .form-check-label {
    border-bottom: none;
}


/* NOTE: there is js associated with the default country styles below */

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}