@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/*TESTS*/

#heroImage {
    background: url('/media/bgSteps.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}


/*-------------------------------------------------TEXT COLOURS*/

.text-white, .nav-link, .card-text{
    color: white!important;
}

.text-green{
    color: rgb(57, 250, 18)!important;
}

.text-blue{
    color: rgb(106, 164, 187);
}

.text-red{
    color: red;
}

.text-yellow{
    color: yellow;
}

.text-orange{
    color: orange;
}

.shadows-white{
    font-family: 'Shadows Into Light', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    
}

.shadows-green{
    font-family: 'Shadows Into Light', sans-serif;
    color: rgb(57, 250, 18)!important;
    font-weight: bold;
    letter-spacing: 3px;
    
}

.per-marker-white{
    font-family:'Permanent Marker', sans-serif;
    color: white!important;
}

.per-marker-green{
    font-family:'Permanent Marker', sans-serif;
    color: rgb(57, 250, 18)!important;
}

.per-marker-blue{
    font-family:'Permanent Marker', sans-serif;
    color: rgb(106, 164, 187)!important;
}

/*-------------------------------------------------BACKGROUND COLOURS*/

.bg-grey{
	background: whitesmoke!important;
}

.bg-blue{
    background-color: rgb(106, 164, 187)!important;
}

.bg-green, button.navbar-toggler{
    background-color: rgb(57, 250, 18)!important;
}

.bg-white{
    background-color: white!important;
}

.bg-yellow{
    background-color: yellow!important;
}

.bg-red{
    background-color: red!important;
}

/*-------------------------------------------------BORDER COLOURS*/

.border-bottom-green{
    border-bottom: 5px solid;
    border-bottom-color: rgb(57, 250, 18);
    text-decoration: none;
}

.border-bottom-blue{
    border-bottom: 5px solid;
    border-bottom-color: rgb(106, 164, 187)!important;
    text-decoration: none;
}


/*--------------------------------------------------Internal Links*/

.internal-link{
    border-bottom: 5px solid;
    border-bottom-color: rgb(57, 250, 18)!important;
    text-decoration: none!important;
    font-family:'Permanent Marker', sans-serif;
    color: rgb(106, 164, 187)!important;
}

.plain-anchor{
    text-decoration: none!important;
    border-bottom: none!important;
    color: black;
}

.plain-anchor:hover{
    text-decoration: none!important;
    border-bottom: none!important;
    color: rgb(57, 250, 18);
}

/*-------------------------------------------------CARDS*/

.card-title{
    font-family: 'Shadows Into Light', sans-serif;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    border-bottom: 5px solid;
    border-bottom-color: rgb(57, 250, 18);
}

.card{
    background-color: rgb(106, 164, 187)!important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*------------------------------------------------------------------------------FROM COURSE*/


/*----------------------------TOASTS AND MESSAGES*/
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form , widgets on add and edit etc*/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/*------------------------------------------------------------------------------MEDIA QUERIES*/

/* Footer resizing */

@media screen and (max-width:450px){
/* Card image resizizing */
    .card-img-top {
        width: 100%;
        height: 50vw;
    }

}
